---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        {% responsive_image_block %}
          path: {{ page.profile.image | prepend: 'assets/img/' }}
          class: "img-fluid z-depth-1 rounded"
        {% endresponsive_image_block %}
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.publications %}
      <div>
        <h2>Publications</h2>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
          {% for item in page.publications %}
            {% if item.type == "book" %}
              <tr>
                <th scope="row"><p>Book</p></th>
                <td>
                  <h4>{{ item.title }}</h4>
                  <p>
                    {{ item.publisher }}
                    - ISBN: <a class="news-title" href="{{ item.publishing_link }}">{{ item.isbn }}</a>
                  </p>
                </td>
              </tr>
            {% elsif item.type == "talk" %}
              <tr>
                <th scope="row"><p>Talk</p></th>
                <td>
                  <h4>
                    {{ item.title }}
                  </h4>
                  <div>
                    <a class="news-title" href="{{ item.abstract_link }}">Abstract</a>
                    {% if item.video_link %}
                      - <a class="news-title" href="{{ item.publishing_link }}">Video</a>
                    {% endif %}
                  </div>
                  <div>
                    {% for venue in item.venues %}
                      <a class="news-title" href="{{ venue.link }}">{{venue.name}}</a>
                      {% if forloop.last != true %}
                        |
                      {% endif %}
                    {% endfor %}
                  </div>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}

    {% if page.social %}
      <div class="social">
        <div class="contact-icons">
          {% include social.html %}
        </div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if page.news %}
      {% include news.html %}
    {% endif %}
  </article>

</div>
